@charset "utf-8";
/* CSS Document */

.centre {
    text-align: center;
	color : white;
	position: fixed;
	left: 10px;
    top: 0px;

    
 }

 body
{
    background: url("fond5.png");
    background-position : center center;
    font-family: "arial";
    margin-bottom: : 200px;
}     
ul{

}



h1 {
	text-align: center;
	color : white;
}

h2 {
	text-align: center;
	color : black;
}

h3 {
	text-align: center;
	color : black;
	text-decoration:underline /*souligne le titre des notes*/
}

h4 {
	text-align: center;
	color : black;
}

.code {
	border: 1px dotted black;
	padding: 5px;


}


/* Calendrier */
table.calendrier {
	margin: auto;
	text-align: center;
	border: 5px solid black;
	border-collapse: collapse;
	font-size: 120%;
	background-color: rgb(243, 247, 255)/*jour creux*/
	



}

table.calendrier th {
	border-bottom: 2px solid black;
}

table.calendrier td {
	border: 2px solid black;
	width:120px;
	height:66px;


}

table.calendrier td div {
	padding: 2px;

}

.jourEvenement {
	background-color: rgb(35,136,25);/*evenement*/
}

.lienCalendrierJour {
	background-color: rgb(218,57,21);/*aujourdhui*/
}

.calendrier caption {
	margin: auto;
	

}


/* Administration */
#tabAjoutEvent {
	margin: auto;
	color: black
}
#tabAjoutEvent td {
	width: 50%;
	text-align:center;
	

}


/* Infobulles */
a.info {
	position: relative;
	color: black; /*couleur date */
	text-decoration: red;
	display: block;
	font-size: 110%;/*taille date evenement*/ 
}
a.info span {
	display: none; /* on masque l'infobulle */
}
a.info:hover {
	background: none; /* correction d'un bug IE */
	z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
}
a.info:hover span {
	display: inline; /* on affiche l'infobulle */
	position: absolute;

	white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

	top: 30px; /* on positionne notre infobulle */
	left: 20px;
	
	text-align: left;
	background-color: rgb(149, 178, 235);/*couleur fond  bulle*/
	padding: 2px;
	border: 1px solid background-color:rgb(149, 178, 235);/*couleur bord bulle*/
	border-radius: 10px; /*arrondi*/
}

/* Liste des événements à supprimer */
table.listeEvent {

    width: 100%;/*taille cadre note+image*/
	border: 2px solid white;
	border-collapse: separate;
	border-radius: 10px; /*coté arrondis*/
	margin-top: 30px; /*espaces entre les les bulles de nots/*

}


	
	


}
