@charset "utf-8";
/* CSS Document */

/*retour à l'acueil(fleche bleu)*/
.centre {
    color : white;
	position: fixed; /*on ancre retour à l'accueil*/ 
	left: 10px; 
    top: 0px;

    
 }

 body
{
    background: url("fond5.png"); /*on definit le fond du site*/
    background-position : center center; /* on centre le fond*/
    font-family: "arial"; /*on choisie la police du site*/
    margin-bottom: : 200px; /*on regle la marge*/
}     



 /*présentation "calendrier" et "nous sommes le"*/
h1 {
	text-align: center; 
	color : white;
}

/*date evenement*/
h2 {
	text-align: center; 
	color : black;
}

/*titre evenement*/
h3 {
	text-align: center;     
	color : black;
	text-decoration:underline /*souligne le titre des notes*/
}

/*la note*/
h4 {
	text-align: center;   /*la note*/
	color : black;
}

.code {
	border: 1px dotted black;
	padding: 5px;


}


/* Calendrier */
table.calendrier {
	margin: auto; /*on centre le tableau au centre*/
	text-align: center; /*on centre les dates dans les cases*/
	border: 5px solid black; /*bord tableau*/
	border-collapse: collapse; /*bordure collées*/
	font-size: 130%; /*taille mois*/
	background-color: rgb(243, 247, 255)/*jours creux*/
	



}
/*barre tableau séparant les noms des jours du calendrier*/
table.calendrier th {
	border-bottom: 2px solid black;
}

/*dimension tableau(calendrier)*/
table.calendrier td {
	border: 2px solid black; /*épaisseur*/
	width:150px;             /*largeur*/
	height:74px;             /*hauteur*/


}

table.calendrier td div {
	padding: 2px;

}

.jourEvenement {
	background-color: rgb(35,136,25);/*couleur de la case d'un évenement*/
}

.lienCalendrierJour {
	background-color: rgb(218,57,21);/*couleur de la case d'aujourdhui*/
}

.calendrier caption {
	margin: auto;
	

}


/* page ajouter un evenement */
#tabAjoutEvent {
	margin: auto;
	color: black;
}
#tabAjoutEvent td {  
	width: 50%;    
	text-align:center;    
}


/* Infobulles */
a.info {
	position: relative; /*positionnement relatif*/
	color: black; /*couleur date */
	text-decoration: white;
	display: block; /*on affiche un bloc*/
	font-size: 120%;/*taille date d'un évenement*/ 
}
a.info span {
	display: none; /* on masque l'infobulle */
}
a.info:hover {
	background: none; /* correction d'un bug IE */
	z-index: 500; /* on définit une valeur pour l'ordre d'affichage */
}
a.info:hover span {
	display: inline; /* on affiche l'infobulle */
	position: absolute; /* les infobulles se réferencient à l'élément le plus proche et non à la fenètre du navigateur*/

	white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

	top: 30px; /* on positionne notre infobulle */
	left: 20px;
	
	text-align: left; /*on centre le texte à gauche de la bulle */
	background-color: rgb(223,234,255);/*couleur fond bulle*/
	padding: 7px;/*écart de remplissage ente le bord de la bulle et le texte*/
	border: 1px solid black;/*couleur bords bulle*/
	border-radius: 5px; /* on arrondie les coins de l'infobulle*/
}

/* Liste des événements à supprimer */
table.listeEvent {
    object-position: center; /*centrage*/
    width: 100%;/*taille cadre note et image*/
	border: 3px solid white; /*épaisseurd des bords des bulles et de leur couleur*/
	border-collapse: separate;/* on separe les bulles de notes*/
	border-radius: 10px; /*coté arrondis*/
	margin-top: 30px; /* on espace verticalement les bulles de notes entre-elles/*
}
	
	
}